
<div class="navbar-main">
  <div class="logo">
    <%= link_to "Welcome to my website","index.html"%></li>
  </div>

  <div class="navbar-right">
    <ul class="list-inline">
      <li><%= link_to "Home","acceuil.html"%></li>
      <li><%= link_to "Contact","Contact.html"%></li>
      <li><%= link_to "Project","Project.html"%></li>
      <li><%= link_to "Approach","Approach.html"%></li>
      <li><%= link_to "About me","Aboutme.html"%></li>
    </ul>
  </div>
</div>
